.list {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.menu-items {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
  color: #4D5AE5;
}